/*!
 * project
 * 
 * 
 * @author 
 * @version 1.0.0
 * copyright 2018. ISC licensed.
 */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

dl, ul, ol, menu, li {
  list-style: none; }

address, caption, cite, code, dfn, em, var {
  font-style: normal; }

img, fieldset, iframe {
  border: 0 none; }

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

input, select, textarea, button {
  vertical-align: middle; }

textarea {
  resize: none; }

input::-ms-clear {
  display: none; }

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {
  border-radius: 0;
  -webkit-appearance: button; }

input[type="image"], input[type="text"], input[type="submit"], input[type="password"], input[type='search'], text {
  border-radius: 0;
  -webkit-appearance: none; }

input:checked[type='checkbox'] {
  -webkit-appearance: checkbox;
  background-color: transparent; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0px;
  line-height: 0; }

a {
  text-decoration: none;
  select-dummy: expression(this.hideFocus=true); }

body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea, button {
  /* font family, letter-spacing etc...*/ }

hr {
  display: none; }

textarea, input {
  -webkit-apperence: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main, menu {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

sup, sub {
  line-height: 0; }

html, body {
  width: 100%; }

ul:after, ol:after {
  content: '';
  clear: both;
  display: block; }

/* font */
/*******************************
*    NotoSans
********************************/
@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Thin-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Thin-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Thin-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Light-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Light-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Regular-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Regular-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Medium-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Medium-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Bold-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Bold-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: 'Noto Sans';
  src: url("font/NotoSansKR-Black-Hestia.eot");
  /* IE9 Compat Modes */
  src: url("font/NotoSansKR-Black-Hestia.eot?#iefix") format("embedded-opentype"), url("font/NotoSansKR-Black-Hestia.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: 900; }

::-webkit-selection {
  color: #3dc2dc; }

/* Chrome/Opera/Safari */
::-moz-selection {
  color: #3dc2dc; }

/* Firefox 19+ */
:-ms-selection {
  color: #3dc2dc; }

/* IE 10+ */
:-moz-selection {
  color: #3dc2dc; }

/* Firefox 18- */
::-moz-selection {
  color: #3dc2dc; }
::selection {
  color: #3dc2dc; }

:-ms-input-placeholder {
  color: #b6b6b6; }

/* Internet Explorer 10 < */
::-webkit-input-placeholder {
  color: #b6b6b6; }

/* Webkit, Blink, Edge = */
::-moz-placeholder {
  color: #b6b6b6; }

/* Mozilla Firefox 4 ~ 18에 적용 */
/*:focus {outline: 1px solid red;}*/
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select {
  padding: 0 0 0 10px;
  height: 40px;
  line-height: 38px;
  min-width: 140px;
  background: #fff;
  border: 1px solid #d9d9d9; }

input[disabled],
select[disabled],
option[disabled],
textarea[disabled],
button[disabled] {
  pointer-events: none; }

.radiowrap label {
  display: inline-block;
  padding: 0 10px 0 23px; }

input[type=radio] {
  position: absolute;
  left: -9999px;
  opacity: 0; }

input[type=radio] + label {
  position: relative;
  cursor: pointer; }

input[type=radio] + label:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 16px;
  content: ''; }

input[type=radio]:checked + label:after {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -4px;
  display: block;
  width: 8px;
  height: 8px;
  background: #0071bd;
  border-radius: 8px;
  content: ''; }

.sel-dropdown {
  display: inline-block;
  width: 200px;
  vertical-align: middle; }

.sel-box {
  display: block;
  width: 100%;
  position: relative;
  text-align: left; }

.sel-box .selected-headline {
  display: block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  border: 1px solid #e4e4e4;
  background: #efefef;
  padding: 0 12px;
  color: #b0afaf;
  cursor: pointer;
  overflow: hidden; }

.sel-box .selected-headline span {
  display: block;
  width: 90%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 26px; }

.sel-box .selected-headline:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #666666;
  border-right: 5px solid transparent; }

.sel-box .selected-headline:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent; }

.sel-box:hover .selected-headline:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #0071bd;
  border-right: 5px solid transparent; }

.sel-box .select-list {
  width: 100%;
  height: auto !important;
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9; }

.sel-box .select-list li {
  width: 100%; }

.sel-box .select-list .select-list-link {
  display: block;
  width: 100%;
  padding: 5px 12px;
  color: #333;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.sel-box .select-list .select-list-hover,
.sel-box .select-list .select-list-selected {
  background: #0071bd;
  color: #fff; }

/*.sel-box .select-list-selfocus{border:1px dotted $point_color01 !important}*/
.sel-box .selected-headline {
  background: #fff;
  border: 1px solid #d0d0d0; }

.sel-box.sch-sel .selected-headline {
  height: 36px;
  line-height: 36px;
  background: #fff;
  border: 1px solid #d0d0d0;
  color: #999;
  padding: 0 12px; }

.sel-box.sch-sel .selected-headline:after {
  top: 15px; }

html {
  font-family: 'Noto Sans',sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1; }

body {
  min-width: 320px; }

.wrapper {
  width: 100%;
  height: auto; }

.skip-navigation a {
  position: absolute;
  left: -99999%;
  text-decoration: none; }
  .skip-navigation a:focus {
    display: block;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 700; }

header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  header .header-inbox {
    position: relative;
    width: 1120px;
    margin: 0 auto; }
  header .logo {
    float: left;
    width: 157px;
    height: 80px;
    text-indent: -9999px; }
    header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/voicye_logo.png") no-repeat center center;
      /*background-size:157px 33px;*/ }
  header .nav-wrap {
    display: inline-block;
    height: 80px;
    margin-left: 80px; }
    header .nav-wrap nav {
      display: inline-block; }
    header .nav-wrap:after {
      content: '';
      clear: both;
      display: block; }
  header .gnb {
    width: 100%;
    height: 79px;
    position: relative;
    z-index: 100; }
    header .gnb > li {
      display: inline-block;
      width: auto;
      height: auto;
      float: left; }
      header .gnb > li > a {
        display: inline-block;
        height: 100%;
        padding: 0 60px;
        text-align: center;
        font-family: "roboto";
        font-weight: 400;
        font-size: 20px;
        color: #333;
        line-height: 79px; }
      header .gnb > li > .gnb-dep2 {
        position: absolute;
        z-index: 99;
        display: block;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        -webkit-box-shadow: 0 -5px 0 0 #fff, 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 -5px 0 0 #fff, 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        header .gnb > li > .gnb-dep2 > li {
          height: auto; }
          header .gnb > li > .gnb-dep2 > li > a {
            background: #fff;
            color: #333;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 20px 0 25px;
            font-size: 1.071em;
            font-weight: 300;
            line-height: 32px; }
            header .gnb > li > .gnb-dep2 > li > a:hover, header .gnb > li > .gnb-dep2 > li > a:focus {
              font-weight: 400; }
          header .gnb > li > .gnb-dep2 > li .gnb-dep3 > li {
            height: auto; }
            header .gnb > li > .gnb-dep2 > li .gnb-dep3 > li > a {
              background: #fff;
              color: #333;
              display: block;
              width: 100%;
              height: 100%;
              padding: 0 10px 0 25px;
              font-size: 1em;
              font-weight: 300;
              line-height: 32px; }
              header .gnb > li > .gnb-dep2 > li .gnb-dep3 > li > a:hover, header .gnb > li > .gnb-dep2 > li .gnb-dep3 > li > a:focus {
                font-weight: 400; }
      header .gnb > li.active > .gnb-dep2 {
        height: auto;
        padding: 10px 0; }
      header .gnb > li.active > a {
        color: #0071bd; }
  header .top-small-menu {
    z-index: 101;
    position: absolute;
    top: 3px;
    right: 0; }
    header .top-small-menu > ul {
      display: inline-block;
      text-align: right; }
    header .top-small-menu > ul > li {
      display: inline-block; }
    header .top-small-menu .sitemap {
      display: block;
      position: relative;
      width: 20px;
      height: 18px;
      background: #333; }
    header .top-small-menu .sitemap > span {
      position: absolute;
      top: 0;
      left: 4px;
      width: 12px;
      height: 19px;
      border-left: 4px solid #fff;
      border-right: 4px solid #fff;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px;
      background: transparent; }
    header .top-small-menu .sitemap:after {
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 10px;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      background: transparent;
      content: ''; }
    header .top-small-menu .sitemap:hover {
      background: #0071bd; }

.mobile-btn-area, .mobile-menu-close {
  display: none; }

.container {
  position: relative; }

.container:after {
  content: '';
  clear: both;
  display: block; }

.submenu-wrap {
  display: none; }

.content-box {
  width: 1120px;
  margin: 0 auto; }

/*location*/
.location {
  display: inline-block;
  height: 34px;
  margin-right: 15px;
  margin-bottom: 20px; }

.location li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  height: 34px;
  padding: 3px 0;
  vertical-align: bottom; }

.location li:first-child {
  margin-left: 10px; }

.location li:after {
  display: block;
  position: absolute;
  width: 10px;
  height: 34px;
  top: 3px;
  right: -16px;
  font-size: 11px;
  line-height: 34px;
  text-align: center;
  content: ">"; }

.location li:last-child:after {
  display: none; }

.location li a {
  line-height: 34px; }

.location li a .material-icons {
  display: none; }

.location li:first-child a {
  display: inline-block;
  width: 12px;
  height: 34px;
  background: url(/assets/images/icon_home.png) no-repeat center center;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.location li span {
  line-height: 34px;
  font-weight: 700; }

/*tab*/
[class^="tab-basic"] .tab-lst li {
  float: left;
  position: relative;
  width: 179px;
  height: 45px;
  border: 1px solid #dcdcdc;
  border-left: 0;
  background: #fff; }

[class^="tab-basic"] .tab-lst li:first-child {
  border-left: 1px solid #dcdcdc; }

[class^="tab-basic"] .tab-lst li.active {
  background-color: #4a63a1;
  border: 0; }

[class^="tab-basic"] .tab-lst li.active a span {
  color: #fff;
  font-weight: 700; }

[class^="tab-basic"] .tab-lst li a {
  display: table;
  width: 100%;
  height: 100%; }

[class^="tab-basic"] .tab-lst li a span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px; }

[class^="tab-basic"] .tab-lst li.active a:after {
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 0;
  margin-left: -6px;
  border: 6px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  content: " "; }

[class^="tab-basic"] .tab-container {
  margin: 20px 0; }

[class^="tab-basic"] .tab-content {
  padding: 10px;
  display: none;
  padding: 20px;
  border: 1px solid #dcdcdc;
  background: #dcdcdc; }

[class^="tab-basic"] .tab-content.active {
  display: block; }

.tab-basic-per .tab-lst {
  width: 100%; }

.tab-basic-per .tab-lst.col2 li {
  width: 50%; }

.tab-basic-per .tab-lst.col3 li {
  width: 33.33333333333333%; }

.tab-basic-per .tab-lst.col4 li {
  width: 25%; }

.tab-basic-per .tab-lst.col5 li {
  width: 20%; }

.tab-basic-per .tab-lst.col6 li {
  width: 16.6666666667%; }

/*table*/
.tb-basic {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #dcdcdc; }

.tb-basic table {
  width: 100%; }

.tb-basic table thead th {
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  background: #f2f2f2;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle; }

.tb-basic table thead td {
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  text-align: left;
  vertical-align: middle; }

.tb-basic table tbody th {
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  background: #f2f2f2;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle; }

.tb-basic table tbody td {
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  text-align: left;
  vertical-align: middle; }

.tb-basic table tr:first-child th {
  border-top: 0; }

.tb-basic table tr:first-child td {
  border-top: 0; }

/*accordion*/
.accordion {
  font-size: 1.143rem;
  border-top: 1px solid #d9d9d9; }

.accordion-item {
  border-bottom: 1px solid #d9d9d9;
  position: relative; }

.accordion-item .accordion-body {
  display: none;
  padding: 30px;
  border-top: 1px solid #d9d9d9; }

.accordion-desc {
  line-height: 3rem;
  position: relative;
  padding-left: 80px;
  font-weight: 400;
  color: #666; }

.accordion-desc:before {
  content: 'ë‹µë³€';
  display: inline-block;
  position: absolute;
  left: 0;
  background: url("../images/system_spr_icon.png") no-repeat -84px -112px;
  width: 40px;
  height: 36px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background-color: #096f94; }

.accordion-link {
  display: inline-block;
  position: relative;
  font-weight: 400;
  padding: 30px 100px 27px;
  line-height: 1.6rem;
  width: 100%;
  height: 100%; }

.accordion-link .num {
  position: absolute;
  left: 30px;
  color: #666; }

.accordion-link:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 9px;
  background: url("../images/system_spr_icon.png") no-repeat -171px -325px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto; }

.accordion-link.active, .accordion-link.on {
  color: #096f94;
  font-weight: 600; }

.accordion-link.active .num, .accordion-link.on .num {
  font-weight: 400;
  color: #666; }

.accordion-link.active:after, .accordion-link.on:after {
  background-position: -222px -325px; }

.accordion-link:hover {
  color: #096f94;
  font-weight: 600; }

.accordion-link:hover .num {
  font-weight: 400;
  color: #333; }

/*board-table*/
.board-table {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #dcdcdc; }

.board-table table {
  width: 100%; }

.board-table table thead th {
  height: 38px;
  padding: 5px 10px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle; }

.board-table table thead td {
  height: 38px;
  padding: 5px 10px;
  border-top: 1px solid #dcdcdc;
  text-align: left;
  vertical-align: middle; }

.board-table table tbody td {
  height: 38px;
  padding: 5px 10px;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  vertical-align: middle; }

.board-table table tbody td.title {
  text-align: left; }

.board-table table tr:first-child th {
  border-top: 0; }

.board-table table tr:first-child td {
  border-top: 0; }

/*pagination*/
.pagination-wrap {
  width: 100%;
  text-align: center; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 30px 0 20px 0; }

.pagination > li {
  display: inline-block;
  margin-left: -4px;
  position: relative;
  z-index: 0;
  background: #fff; }

.pagination > li > a, .pagination > li > span {
  color: #333; }

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  font-family: "roboto";
  width: 34px;
  height: 34px;
  line-height: 32px;
  margin-left: -1px;
  border: 1px solid #d9d9d9;
  font-weight: 400;
  background: #fff; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #fff;
  background-color: #0071bd; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0071bd; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #d9d9d9; }

.pagination > li.pre {
  margin-right: 13px; }

.pagination > li.next {
  margin-left: 13px; }

.pagination > li.pre a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.pagination > li.next a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.pagination > li.first a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.pagination > li.last a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.pagination > li.next:before {
  position: absolute;
  z-index: 4;
  right: 12px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #333;
  content: ''; }

.pagination > li.next:after {
  position: absolute;
  z-index: 5;
  display: block;
  right: 13px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #fff;
  content: ''; }

.pagination > li.next:hover:before {
  border-color: transparent transparent transparent #0071bd; }

.pagination > li.pre:before {
  position: absolute;
  z-index: 4;
  left: 9px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #333 transparent transparent;
  content: ''; }

.pagination > li.pre:after {
  position: absolute;
  z-index: 5;
  display: block;
  left: 10px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #fff transparent transparent;
  content: ''; }

.pagination > li.pre:hover:before {
  border-color: transparent #0071bd transparent transparent; }

.pagination > li.first:before {
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #333 transparent transparent;
  content: ''; }

.pagination > li.first:after {
  position: absolute;
  z-index: 3;
  display: block;
  left: 8px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #fff transparent transparent;
  content: ''; }

.pagination > li.first:hover:before {
  border-color: transparent #0071bd transparent transparent; }

.pagination > li.first > a:before {
  position: absolute;
  z-index: 4;
  left: 13px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #333 transparent transparent;
  content: ''; }

.pagination > li.first > a:after {
  position: absolute;
  z-index: 5;
  display: block;
  left: 14px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 10px 9px 0;
  border-color: transparent #fff transparent transparent;
  content: ''; }

.pagination > li.first:hover > a:before {
  border-color: transparent #0071bd transparent transparent; }

.pagination > li.last:before {
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #333;
  content: ''; }

.pagination > li.last:after {
  position: absolute;
  z-index: 3;
  display: block;
  right: 8px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #fff;
  content: ''; }

.pagination > li.last:hover:before {
  border-color: transparent transparent transparent #0071bd; }

.pagination > li.last > a:before {
  position: absolute;
  z-index: 4;
  right: 13px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #333;
  content: ''; }

.pagination > li.last > a:after {
  position: absolute;
  z-index: 5;
  display: block;
  right: 14px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 10px;
  border-color: transparent transparent transparent #fff;
  content: ''; }

.pagination > li.last:hover > a:before {
  border-color: transparent transparent transparent #0071bd; }

/*footer*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

/*.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}*/
.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  -o-transition: transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  display: none;
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 5px 7px;
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D6D6D6;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 100%; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #0071bd; }

.owl-dots {
  counter-reset: dots; }

.owl-dot:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  counter-increment: dots;
  content: counter(dots);
  border-radius: 100%;
  overflow: hidden; }

.owl-carousel-wrap {
  margin-bottom: 20px; }

.oc-item {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 106px;
  overflow: hidden; }

.f-eng {
  font-family: 'roboto' !important; }

/*main*/
.main-content h1 {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.banner {
  position: relative;
  max-height: 534px;
  background: green; }
  .banner-box {
    height: 534px;
    width: 100%; }
    .banner-box .bx-wrapper, .banner-box .bx-viewport {
      height: 100% !important; }
  .banner .item-box > img {
    height: 534px;
    width: 100%; }
  .banner-list {
    height: 100%; }
    .banner-list-item {
      height: 100%;
      overflow: hidden; }
  .banner .bx-controls {
    position: relative;
    width: 1160px;
    height: 0;
    margin: 0 auto;
    bottom: 80px; }
    .banner .bx-controls .bx-prev, .banner .bx-controls .bx-next {
      display: none; }
    .banner .bx-controls .bx-pager {
      display: inline-block;
      float: left;
      height: 20px; }
      .banner .bx-controls .bx-pager .bx-pager-item {
        display: inline-block;
        float: left;
        width: 31px;
        height: 20px; }
        .banner .bx-controls .bx-pager .bx-pager-item > a {
          display: inline-block;
          float: left;
          width: 20px;
          height: 20px;
          background: transparent;
          border: 2px solid #fff;
          border-radius: 20px;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          text-indent: -9999px; }
        .banner .bx-controls .bx-pager .bx-pager-item > a.active {
          background: #fff; }
    .banner .bx-controls .bx-start, .banner .bx-controls .bx-stop {
      position: absolute;
      top: 0;
      left: 125px;
      display: block;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 20px;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px; }
    .banner .bx-controls .bx-prev {
      background-position: -60px -113px; }
    .banner .bx-controls .bx-next {
      background-position: -104px -113px; }
    .banner .bx-controls .bx-start:after {
      position: absolute;
      top: 5px;
      left: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent transparent transparent #0071bd;
      content: ''; }
    .banner .bx-controls .bx-stop:after {
      position: absolute;
      top: 6px;
      left: 7px;
      width: 6px;
      height: 8px;
      background: transparent;
      border-left: 2px solid #0071bd;
      border-right: 2px solid #0071bd;
      content: ''; }

.main-business {
  position: relative;
  padding: 45px 0; }
  .main-business > .business-list {
    width: 1150px;
    height: 190px;
    margin: 0 auto; }
    .main-business > .business-list > li {
      display: block;
      width: 25%;
      height: 100%;
      float: left;
      border-left: 1px solid #dcdcdc; }
      .main-business > .business-list > li > .inner-box {
        width: 100%;
        height: 100%; }
        .main-business > .business-list > li > .inner-box > a {
          position: relative;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 120px; }
          .main-business > .business-list > li > .inner-box > a > dl {
            display: block;
            width: 100%; }
            .main-business > .business-list > li > .inner-box > a > dl > dt {
              display: block;
              padding-bottom: 15px;
              font-family: "Roboto";
              font-size: 22px;
              font-weight: 500;
              color: #333;
              text-align: center; }
            .main-business > .business-list > li > .inner-box > a > dl > dd {
              display: block;
              font-size: 14px;
              color: #666666;
              line-height: 18px;
              text-align: center; }
    .main-business > .business-list > li:first-child {
      border-left: 0; }
    .main-business > .business-list > li > .inner-box a:after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 101px;
      height: 101px;
      margin-left: -50px;
      border: 2px solid #0071bd;
      border-radius: 50%;
      content: ''; }
    .main-business > .business-list > li > .inner-box a:before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 101px;
      height: 101px;
      margin-left: -50px;
      background: url("../images/main-spr.png") no-repeat 0 0;
      background-size: 104px 500px;
      content: ''; }
    .main-business > .business-list > li:nth-child(2) > .inner-box a:before {
      background-position: 0 -109px; }
    .main-business > .business-list > li:nth-child(3) > .inner-box a:before {
      background-position: -4px -215px; }
    .main-business > .business-list > li:nth-child(4) > .inner-box a:before {
      background-position: -4px -321px; }

.main-business .business-list > li > .inner-box:hover a:before {
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%; }

@keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  15% {
    -webkit-transform: translate(0px, -15px);
            transform: translate(0px, -15px); }
  30% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  45% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px); }
  60% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px); }
  15% {
    -webkit-transform: translate(0px, -25px); }
  30% {
    -webkit-transform: translate(0px, 0px); }
  45% {
    -webkit-transform: translate(0px, -15px); }
  60% {
    -webkit-transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px); } }

.main-board .board-list {
  width: 1120px;
  margin: 0 auto; }
  .main-board .board-list > li {
    width: 33%;
    float: left; }

.main-board .notice_wrap {
  position: relative; }

.main-board .notice_wrap h2 {
  position: relative;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  border-bottom: 1px solid #b9b9b9; }

.main-board .notice_list {
  width: 100%;
  height: 100%;
  padding: 10px 15px; }

.main-board .notice_list li {
  position: relative;
  width: 100%;
  height: 28px; }

.main-board .notice_list li:first-child {
  border-top: 0; }

.main-board .notice_list li a {
  display: block;
  width: 100%;
  height: 100%; }

.main-board .notice_list li:hover {
  background: #f2f2f25e; }

.main-board .notice_list li a .title {
  position: relative;
  max-width: calc(100% - 80px);
  display: inline-block;
  padding-right: 20px;
  font-size: 13px;
  color: #63656a;
  line-height: 27px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.main-board .notice_list li a .date {
  display: inline-block;
  float: right;
  width: 70px;
  font-size: 11px;
  color: #63656a;
  line-height: 27px;
  text-align: center; }

.main-board .notice_list li a.new span.title:after {
  position: absolute;
  top: 7px;
  right: 0;
  display: block;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: #4a63a1;
  content: 'N';
  border-radius: 100%; }

.main-board .notice_wrap .btn_more {
  position: absolute;
  display: block;
  top: 7px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: transparent; }

.main-board .notice_wrap .btn_more span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

.main-board .notice_wrap .btn_more span:before {
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
  background: #333;
  content: ''; }

.main-board .notice_wrap .btn_more span:after {
  position: absolute;
  display: block;
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -7px;
  background: #333;
  content: ''; }

/*sub*/
.notice .search-head .searchbox {
  float: right; }

.notice .search-head:after {
  content: '';
  clear: both;
  display: block; }

@media all and (max-width: 1160px) {
  html {
    font-size: 13px; }
  .content {
    width: 100%;
    margin: 0; }
  header .logo {
    margin-right: 20px; }
  header .gnb > li > a {
    padding: 0 12px; } }

@media all and (max-width: 1023px) {
  .top-small-menu {
    display: none; }
  header {
    height: 58px; }
  header {
    position: relative;
    height: 57px;
    line-height: 57px; }
  header .header-inbox {
    width: 100%;
    height: 100%; }
  header .logo {
    width: 146px;
    height: 100%; }
  header .logo a {
    background-size: 146px 31px; }
  .mobile-btn-area {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    padding-right: 34px;
    background: red; }
  .mobile-btn-area .mobile-menu-open {
    position: absolute;
    top: 22px;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 20px; }
  .mobile-btn-area .mobile-menu-open:after {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 13px;
    height: 2px;
    background: #0071bd;
    content: ''; }
  .mobile-btn-area .mobile-menu-open > span {
    display: block;
    width: 20px;
    height: 7px;
    border-top: 2px solid #0071bd;
    border-bottom: 2px solid #0071bd;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
  header .nav-wrap {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -258px;
    bottom: 0;
    width: 258px;
    height: 100%;
    padding-top: 100px;
    background: url("../images/logo.png") no-repeat center 15px;
    background-size: 120px auto;
    background-color: #044d67;
    line-height: 1;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .header-inbox.open .nav-wrap {
    right: 0;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); }
  .header-inbox.open:before {
    display: block;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: ''; }
  .nav-wrap > nav {
    width: 100%;
    height: 100%;
    background: #fff; }
  .nav-wrap > nav > .gnb {
    width: 100%;
    height: 100%; }
  .nav-wrap > nav > .gnb > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d9d9d9; }
  header .gnb > li > a {
    width: 100%;
    color: #000;
    font-size: 1.154rem;
    line-height: 40px;
    font-weight: 400;
    text-align: left; }
  header .gnb > li.active {
    background: #0071bd; }
  header .gnb > li.active > a {
    color: #fff !important; }
  header .gnb > li > .gnb-dep2 {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s; }
  header .gnb > li > .gnb-dep2 > li > a {
    position: relative;
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    line-height: 25px;
    padding: 0 26px; }
  header .gnb > li > .gnb-dep2 > li > a:before {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 2px;
    height: 2px;
    background: #666;
    content: ''; }
  .gnb > li.has-children:before {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #666666  transparent transparent transparent;
    content: ''; }
  .gnb > li.has-children:after {
    display: block;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    content: ''; }
  .gnb > li.has-children.active:before {
    border-color: #fff transparent transparent transparent; }
  .gnb > li.has-children.active:after {
    border-color: #0071bd transparent transparent transparent; }
  .nav-wrap .mobile-menu-close {
    z-index: 999;
    display: block;
    position: fixed;
    top: 0;
    right: -258px;
    width: 26px;
    height: 26px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .header-inbox.open .nav-wrap .mobile-menu-close {
    position: fixed;
    top: 0;
    right: 258px;
    width: calc(100% - 258px);
    height: 100%; }
  .nav-wrap .mobile-menu-close > span {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
  .nav-wrap .mobile-menu-close > span:before {
    position: absolute;
    top: 0;
    left: 12px;
    width: 2px;
    height: 28px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: ''; }
  .nav-wrap .mobile-menu-close > span:after {
    position: absolute;
    top: 0;
    right: 12px;
    width: 2px;
    height: 28px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ''; } }
